name: Publish Maven


on:
  workflow_dispatch:
    inputs:
      checkout-ref:
        description: "The branch, tag or SHA to checkout. See actions/checkout 'ref'."
        required: false
        type: string
  workflow_call:
    inputs:
      checkout-ref:
        description: "The branch, tag or SHA to checkout. See actions/checkout 'ref'."
        required: false
        type: string


concurrency:
  group: "Publish Maven: ${{ github.workflow }}"
  cancel-in-progress: false


permissions:
  contents: write
  packages: write
  checks: write


jobs:

  sonatype-release:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: read
      packages: write
      checks: write
    uses: ./.github/workflows/run_gradle_task.yml
    secrets: inherit
    with:
      runs-on: linux-latest
      gradle-task: >-
        nmcpPublish
        --stacktrace
        --no-configuration-cache
        --no-parallel
      checkout-ref: ${{ inputs.checkout-ref }}


  adamko-dev:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: read
      packages: write
      checks: write
    uses: ./.github/workflows/run_gradle_task.yml
    secrets: inherit
    with:
      runs-on: linux-latest
      gradle-task: >-
        publishAllPublicationsToAdamkoDevRepository
        --stacktrace
        --no-configuration-cache
        --no-parallel
      checkout-ref: ${{ inputs.checkout-ref }}
